
  <script>
      $(function() {
          $( "#datepicker" ).datepicker();
      });
  </script>           
<p>A datepicker should show up directly under this line, as the input id is "datepicker": </p>
<p>Date: <input type="text" id="datepicker"></p>  
<p>Here is the host with port : <%= request.host_with_port()%></p>
<fieldset id="javascript_test">  
	<legend>Javascript tests</legend>      
	<hr/>  
	<div id="flowcontrol"> 
		Here is a div with id 'flowcontrol'. We will update it ... <br/>
	</div>
<!-- 	<hr/>  
	<div id="textholder"> 
		Here is a div with id 'textholder'. We will update it ... <br/>
	</div>   
	-->   
	<hr/>  
	<div id="domtree">  
		This is the 'domtree' id'ed div.
	</div>
	<hr/>  
	<div id="shoppingdiv">
		<h1 id="header">List</h1>
		<h2>Buy stuff</h2>
		<ul id="shoppingul">
			<li id="one" class="hot"><em>Hot</em> items</li>
			<li id="two" class="hot">Second-rate items</li>
			<li id="three" class="hot">Three-for-one deals</li>
			<li id="four">Fourth form items</li>
		</ul>
	</div>
	<hr/> 
	<div id="builtins">
		Here is a div with id 'builtins'. We will update it as well. <br/>
	</div> 
	<hr/>   
	<div id="dominfo">
		Here is a div with id 'dominfo'. We will use this to store information about the DOM.
	</div>   
	<div id="eventobjects"> 
		Our DOM objects that we want to respond to events? They live right here.  
		<p>       
			<label for='username'>User name feedback via traditional DOM event handler : </label>
			<input type='text' id='username' />  
			<span id='usernameFeedback'></span>
		</p>       
		<p>       
			<label for='username2'>User name feedback via traditional DOM event handler : </label>
			<input type='text' id='username2' />  
			<span id='usernameFeedback2'></span>
		</p> 
		<p> 
			<a id="a404" href="404.html">Here is a link whose default event we will overwrite.</a>
		</p>
	</div> 
	<div id="eventinfo"> 
		Here is a div with id 'eventinfo'. We will use this to store information about events.
	</div>
</fieldset>
This is the end of the page.     
<%= javascript_include_tag "js_and_jq" %>  