
  <script>
      $(function() {
          $( "#datepicker" ).datepicker();
      });
  </script>           
<p>A datepicker should show up directly under this line: </p>
<p>Date: <input type="text" id="datepicker"></p>
<p>Here is some text just before the yield reference.</p>
                                             
<p>Here is some text just after the yield reference.</p>     
<%= request.host_with_port()%>  
<p>Here is some text just after the javascript include (with src).</p>                                               